streamlit
chromadb==0.4.24
protobuf==3.20.0
pysqlite3-binary
opentelemetry-api==1.22.0
opentelemetry-sdk==1.22.0
sentence-transformers
pymupdf
requests
python-dotenv
langchain-text-splitters
groq
transformers
torch
torchvision
numpy